@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* ใส่รูปภาพพื้นหลังที่นี่ */
    background: url('thunderstorm-countryside') center/cover no-repeat;
    color: white;
}

.glass {
    background: rgba(15, 18, 26, 0.8);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.stat-card-small {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 1.25rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center;
}

.btn-layer {
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 15px;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
}

.btn-layer:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
}

.btn-layer.active {
    background: #3b82f6;
    border-color: #60a5fa;
}

#map {
    z-index: 1;
}

/* ปรับแต่ง Marker ปักหมุด */
.leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
    backdrop-filter: blur(10px);
}